/* ==========================================================================
   Sections
   ========================================================================== */

.section {
  &.is-brand {
    background-color: $color-brand;
    color: findColorInvert($color-brand);
  }

  &.is-brand-20 {
    background-color: $color-brand--40;
  }

  &.is-white {
    background-color: $white;
    color: findColorInvert($white);
  }

  &.is-green {
    background-color: $color-green;
    color: findColorInvert($color-green);
  }

  &.is-turquoise {
    background-color: $color-turquoise;
    color: findColorInvert($color-turquoise);
  }

  &.is-gradient1 {
    @include background-gradient(96deg, $color-turquoise, 28.92%, $color-green, 88.54%);

    color: findColorInvert($color-turquoise);
  }

  &.is-black-80 {
    background-color: $color-black--80;
    color: findColorInvert($color-black--80);
  }
}
