/* ==========================================================================
   Content box
   ========================================================================== */

.c-content-box {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  overflow: hidden;
  padding-bottom: 60px;

  &--nopad {
    padding: 0;
  }

  &.is-reverse {
    .column:first-child {
      order: 1;
    }

    .column:last-child {
      order: 1;
    }
  }

  &__image-container {
    padding: 0;
    order: 1;
    position: relative;
    max-height: calc(80vw);
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .has-video & {
      &::after {
        content: '';
        position: absolute;
        display: block;
        height: 100px;
        width: 100px;
        background-image: url('#{$image-path}/video-icon.svg');
        background-size: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__text-container {
    padding: $global-spacing-unit;
    align-self: center;
  }

  &__title {
    .is-brand & {
      color: $white;
    }

    .is-white & {
      color: $primary;
    }
  }

  &__description {
    p + ul {
      margin-top: -0.75em;
    }
  }

  &__link {
    color: currentColor;
    font-weight: 700;
    text-decoration: underline;
  }

  @include mq($from: desktop) {
    .columns {
      min-height: 300px;
      margin-bottom: 0;
    }

    &__image-container {
      .image {
        height: 100%;
      }

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
