/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
  &__subscribe {
    background-color: $black;

    .category_home & {
      display: none;
    }
  }

  &__bottom {
    background-color: #3c3833;
    color: findColorInvert(#3c3833);

    a {
      color: currentColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__partner-logos {
    a + a img {
      margin-left: $global-spacing-unit-small;
    }

    a:first-child img {
      width: 80px;
    }

    a:last-child img {
      width: 105px;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
