/* ==========================================================================
   Logo
   ========================================================================== */

.c-logo {
  background-color: #f1f2f3;
  display: inline-block;
  padding: $global-spacing-unit-small;
  position: absolute;
  top: -$navbar-padding-vertical;

  &__angle {
    position: absolute;
    bottom: -$size-7;
    height: $size-7;
    width: 100%;
    fill: #f1f2f3;
    left: 0;
  }
}
