/* ==========================================================================
   Logo
   ========================================================================== */

.c-logo {
  background-color: #f1f2f3;
  display: inline-block;
  padding: $global-spacing-unit-small;
  position: absolute;
  top: -$navbar-padding-vertical;
  width: 100%;

  &__image {
    background-image: url('#{$image-path}ikce-logotype--v.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    height: 0;
    padding-top: 100%;
  }

  &__angle {
    position: absolute;
    bottom: -$size-7;
    height: $size-7;
    width: 100%;
    fill: #f1f2f3;
    left: 0;
  }

  .c-footer & {
    position: relative;
    top: -2.25em;
  }
}
