/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar {
  background: rgba($color-black, 0.9);
  color: findColorInvert($color-black);
  position: absolute;
  width: 100%;

  .columns {
    width: 100%;
    margin-bottom: 0;
  }

  .column {
    position: relative;
  }

  &__donate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    &-text {
      @include font-loader($safe-serif, $custom-serif);
      
      font-style: italic;
      text-align: center;
      margin-bottom: $global-spacing-unit-tiny;
      padding-right: $global-spacing-unit-small;
    }

    @include mq($from: tablet) {
      flex-direction: row;

      &-text {
        margin-bottom: 0;
        margin-right: $global-spacing-unit-tiny;
        text-align: left;
      }
    }
  }
}

.navbar-brand {
  min-width: 175px;
  margin-left: $column-gap;
}

.navbar-burger {
  margin-right: (-$column-gap);
  z-index: 999;

  @include hamburger($navbar-height);
}