/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar {
  background: rgba($color-black, 0.9);
  color: findColorInvert($color-black);
  position: absolute;
  width: 100%;

  .columns {
    width: 100%;
    margin-bottom: 0;
  }

  .column {
    position: relative;
  }

  &__donate {
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      @include font-loader($safe-serif, $custom-serif);

      font-style: italic;
    }

    .button {
      margin-left: $global-spacing-unit-small;
    }
  }
}
