/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar {
  background: rgba($color-black, 0.9);
  color: findColorInvert($color-black);
  position: absolute;
  width: 100%;

  &__donate {
    align-self: center;
    margin: 0 auto;
    display: flex;
    align-items: center;

    &-text {
      @include font-loader($safe-serif, $custom-serif);

      font-style: italic;
    }

    .button {
      margin-left: $global-spacing-unit-small;
    }
  }
}
