/* ==========================================================================
   Profile modules
   ========================================================================== */

.c-profile-module {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-bottom: $global-spacing-unit;

  &__image {
    margin-top: -$column-gap;
    margin-left: -$column-gap;
    margin-right: -$column-gap;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS styles go here */
      height: calc(11vw + 122px);

      @include mq($from: tablet) {
        height: calc(11vw + 150px);
      }
      @include mq($from: desktop) {
        height: calc(11vw + 120px);
      }
      @include mq($from: widescreen) {
        height: calc(11vw + 150px);
      }
      @include mq($from: fullhd) {
        height: 338px;
      }
    }
  }

  &__title {
    font-size: $size-5;
    margin-bottom: 0;
    margin-top: $global-spacing-unit-tiny;
  }

  &__description {}
}