/* ==========================================================================
   Profile modules
   ========================================================================== */

.c-profile-module {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding-bottom: $global-spacing-unit;

  &__image-container {
    width: calc((1 / 3) * 100%);
    height: auto;
    filter: grayscale(10);
  }

  &__text-container {
    padding-left: $global-spacing-unit-small;
    padding-top: $global-spacing-unit-tiny;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: bold;
    font-size: $size-5;
    line-height: 1.2;
  }

  &__bio {
    font-size: $size-6;
    width: 30ch;
    margin-top: $global-spacing-unit-tiny;
  }
}