/* ==========================================================================
   Social
   ========================================================================== */

.c-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__text {
    @include font-loader($safe-serif, $custom-serif);

    font-size: $size-4;
  }

  &__icons {
    margin-left: -0.25em;
    margin-top: $global-spacing-unit-tiny;

    .icon + .icon {
      margin-left: $global-spacing-unit-tiny;
    }

    a {
      color: currentColor;
    }
  }

  .sub-social & {
    // hero specific styles
    background-color: $color-brand;
    color: $white;
    padding: $global-spacing-unit;
    align-items: center;

    @include mq($from: tablet) {
      flex-direction: column;
      justify-content: center;
    }

    @include mq($from: desktop) {
      flex-direction: row;
      justify-content: space-between;

      &__icons {
        margin: 0;

        .icon {
          margin: 0;
        }
      }
    }
  }
}

@include mq($from: desktop) {
  .sub-social {
    margin-bottom: 20px;
  }
}