/* ==========================================================================
   Subscribe
   ========================================================================== */

.c-subscribe {
  background: rgba($color-black, 0.9);
  color: findColorInvert($color-black);
  padding: $global-spacing-unit;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__text {
    @include font-loader($safe-serif, $custom-serif);

    font-size: $size-4;
    flex: 1 1 100%;
    margin-right: $global-spacing-unit-tiny;
    text-align: center;
    margin-bottom: $global-spacing-unit-small;
  }

  .campaign-monitor {
    flex: auto;
    display: flex;
  }

  .input {
    margin-right: $global-spacing-unit-tiny;
    flex: auto;
  }

  .button {
    color: $white;
    border-color: $white;
    width: 74px;

    &:hover {
      background-color: $white;
      color: rgba($color-black, 0.9);
    }
  }

  @include mq($from: tablet) {
    flex-wrap: nowrap;

    &__text {
      flex: 0 1 auto;
      margin-bottom: 0;
      text-align: left;
    }
  }

  .c-hero & {
    // hero specific styles
    @extend .is-three-quarters;
  }

  .c-footer & {
    // footer specific styles
    padding: inherit 0;

    &__text {
      margin-right: $global-spacing-unit-small;
    }

    .input {
      margin-right: $global-spacing-unit-small;
    }
  }
}
