{% extends "_layouts/main.njk" %}

{% set page = {
  "title": "The Great Koala Ride 2019",
  "bodyClass": "category_news",
  "url": "",
  "image": "images/home-hero.jpg",
  "content": articles[0].content
} %}

{% block main %}
  {% include "_components/banner.njk" %}

  <section class="section">
    <div class="c-article   container">
      <div class="c-article__header">
        <h1 class="c-article__title">{{ page.title }}</h1>
        <time class="c-article__date" datetime="2019-01-01">01 January 2019</time>
      </div>

      <div class="c-article__share">
        <a href="" class="icon">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="icon">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <p class="c-article__intro"></p>
      <div class="c-article__content   content">{{ page.content | safe }}</div>
    </div>
  </section>
{% endblock %}