{% extends "_layouts/main.njk" %}

{% set page = {
  "title": "Donate",
  "bodyClass": "category_donate",
  "url": "",
  "image": "images/home-hero.jpg"
} %}

{% block main %}
  {% include "_components/banner.njk" %}
  <section class="section">
    <div class="container">
      
    </div>
  </section>
{% endblock %}