{% extends "_layouts/main.njk" %}

{% set page = {
  "title": "Hello world",
  "bodyClass": "category_home",
  "url": "",
  "image": ""
} %}

{% block main %}
  {% include "_components/hero.njk" %}

  <section class="section">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </section>
{% endblock %}

