{% extends "_layouts/main.njk" %}

{% set page = {
  "title": "Home",
  "bodyClass": "category_home",
  "url": "",
  "image": "images/home-hero-refresh.jpg"
} %}

{% block main %}
  {% include "_components/hero.njk" %}
  
  {# Video #}
  <section class="section has-background-grey-darker">
    <div class="container">
        <div class="column is-10 is-offset-1 is-paddingless">
          <div class="c-video" style="background-image: url('images/video-thumb.jpg')" data-modal-trigger data-modal="9exdqYcEJnQ"></div>        
        </div>
    </div>
  </section>

  {# Support #}
  <section class="section is-gradient1 is-paddingless-bottom">
    {% set section = donate %}

    {% include "_components/content-box.njk" %}
  </section>

  <section class="section">
    {% set section = about %}
    {% include "_components/content-box.njk" %}
  </section>  

  <section class="section is-gradient1">
    {% set section = featuredArticle %}
    {% include "_components/content-box.njk" %}    
  </section>

{% endblock %}

