/* ==========================================================================
   Helpers
   ========================================================================== */

.is-marginless-top {
  margin-top: 0 !important;
}

.is-marginless-right {
  margin-right: 0 !important;
}

.is-marginless-bottom {
  margin-bottom: 0 !important;
}

.is-marginless-left {
  margin-left: 0 !important;
}

.is-marginless-v {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.is-marginless-h {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.is-paddingless-top {
  padding-top: 0 !important;
}

.is-paddingless-right {
  padding-right: 0 !important;
}

.is-paddingless-bottom {
  padding-bottom: 0 !important;
}

.is-paddingless-left {
  padding-left: 0 !important;
}

.is-paddingless-v {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.is-paddingless-h {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.is-fixed-aspect-ratio {
  height: 0;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 640px;

  &--16x9 {
    padding-bottom: 28.25%;
  }

  iframe {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
  }
}
