/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * 1. Colors
 * 2. Typography
 * 3. Spacing
 *
*/

/* 1. Colors
   ========================================================================== */
$color-brand: #00534C;
$color-turquoise: #00B398;
$color-lime: #78D64B;

/* 2. Typography
   ========================================================================== */
$safe-serif: serif;
$custom-serif: adelle-condensed, serif;

$safe-sans-serif: sans-serif;
$custom-sans-serif: 'Open Sans', sans-serif;

$font-proxima: proxima-nova-condensed, sans-serif;

/* 3. Spacing
   ========================================================================== */
$global-spacing-unit: $size-3;
$global-spacing-unit-small: $global-spacing-unit / 2;
$global-spacing-unit-tiny: $global-spacing-unit-small / 2;
$global-spacing-unit-large: $global-spacing-unit + $global-spacing-unit-small;
$global-spacing-unit-huge: $global-spacing-unit * 2;
