{# content-box.njk #}

{% for item in section %}

  {% if item.heading %}
    <div class="container">
      <h2 class="section__heading color-brand">{{ item.heading }}</h2>        
    </div>
  {% endif %}

  {% for box in item.modules %}
    
    <div class="c-content-box{% if loop.length > 1 %}{% if loop.index%2 == 1 %}{% elif loop.index%2 == 0 %} is-reverse{% endif %}{% endif %}{% if box.nopad %} c-content-box--nopad{% endif %}">
      <div class="container">
        <div class="columns">
          <div class="c-content-box__image-container   column is-half" style="background-image: url('{{ box.image.src }}')">
          </div>

          <div class="c-content-box__text-container   column is-half">
            <h3 class="c-content-box__title">{{ box.title }}</h3>

              {% if box.description %}
                <div class="c-content-box__description   content">
                  {{ box.description | safe }}
                </div>
              {% endif %}

              {% if box.link.url %}
                <a class="c-content-box__link{% if box.link.button %} button is-green{% endif %}" href="{{ box.link.url }}" {% if box.link.target %}target="{{ box.link.target }}"{% endif %}>{{ box.link.text }}</a>
              {% endif %}

          </div> {# .c-content-box__text-container #}
        </div>
      </div> {# .container #}  
    </div> {# .c-content-box #}
  {% endfor %} {# box #}

{% endfor %} {# item #}
