<footer class="c-footer">
  <div class="c-footer__subscribe  section">
    <div class="container">
      <div class="columns">

        {% include "_components/subscribe.njk" %} 

      </div>
    </div>
  </div>
  <div class="c-footer__bottom   section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          {% include "_components/logo.njk" %}
        </div>
        {% include "_components/social.njk" %}
        <div class="column is-one-quarter">
          Logos
        </div>
      </div>
      <p class="is-size-7">© Copyright, Department for Environment and Water 2019 | <a href="#" target="_blank">Disclaimer</a> | <a href="#">Privacy</a> | <a href="#">Accessibility</a></p>
    </div>
  </div>
</footer>