<footer class="c-footer">
  <div class="c-footer__subscribe  section is-gradient1">
    <div class="container sub-social">
      <div class="columns">
        {% include "_components/subscribe.njk" %}
        {% include "_components/social.njk" %}
      </div>
    </div>
  </div>
  <div class="c-footer__bottom   section">
    <div class="container">
      <div class="columns is-mobile is-multiline">
        <div class="column is-one-half-tablet has-text-centered-mobile">
          <img src="images/ikce-logotype--h.svg" alt="">
        </div>
        <div class="c-footer__partner-logos   column is-full-mobile is-one-half-tablet has-text-centered-mobile has-text-right-tablet">
          <a href="https://southaustralia.com">
            <img src="images/brand-adelaide-rev.svg" alt="">
          </a>
          <a href="https://www.environment.sa.gov.au">
            <img src="images/gosa-vertical-rev.svg" alt="">
          </a>
        </div>
      </div>
      <p class="is-size-7"><a href="https://www.environment.sa.gov.au/copyright" target="_blank">© Copyright, Department for Environment and Water 2019</a> | <a href="https://www.environment.sa.gov.au/disclaimer" target="_blank">Disclaimer</a> | <a href="https://www.environment.sa.gov.au/privacy-statement">Privacy</a> | <a href="https://www.environment.sa.gov.au/accessibility">Accessibility</a></p>
    </div>
  </div>
</footer>