<section class="c-hero   section" style="background-image: url('images/home-hero.jpg')">
  <div class="container">

    <div class="columns">
      <div class="c-hero__callout   column is-one-quarter is-offset-three-quarters">
        <h2>Help ensure the future of the koala</h2>
      </div>
    </div>

    <div class="columns">
      {% include "_components/subscribe.njk" %}
      {% include "_components/social.njk" %}
    </div>
    
  </div>
</section>