<section class="c-hero" style="background-image: url('{{ page.image }}')">
  <div class="c-hero__overlay">
  </div>
  
  <div class="c-hero__text section">
    <div class="container">
      <div class="column">
        <h2 class="is-h1">Help ensure the future of the koala</h2>
      </div>
    </div>
  </div>
</section>