{# Logo #}

<div class="c-logo">
  <a class="c-logo__image" href="#">
    <h1 class="is-hidden">International Koala Centre of Excellence</h1>
  </a>
  <svg class="c-logo__angle" viewbox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0 0, 0 100, 100 0" />
  </svg>      
</div>