<nav id="navbar" class="navbar is-spaced">
  <div class="container">

    <div class="c-logo">
      <a href="#">
        <h1 class="is-hidden">International Koala Centre of Excellence</h1>
        <img class="c-logo__image" src="images/ikce-logotype--v.svg" alt=""> 
        <svg class="c-logo__angle" viewbox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="0 0, 0 100, 100 0" />
        </svg> 
      </a>
    </div>

    <div class="navbar__donate">
      <span class="navbar__donate-text is-size-5">Support vital koala research</span>
      <button type="button" class="button is-turquoise is-medium">DONATE</button>
    </div>
    
    <div id="navbarBurger" class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    {# {% include "_components/primary-navigation.njk" %} #}

  </div>
</nav>
