<nav id="navbar" class="navbar">
  <div class="container">
    <div class="columns is-mobile">

      <div class="column is-one-quarter">
        {% include "_components/logo.njk" %}      
      </div>

      <div class="column is-half-tablet">
        <div class="navbar__donate">
          <span class="navbar__donate-text is-size-5">Support vital koala research</span>
          <button type="button" class="button is-turquoise is-medium">DONATE</button>
        </div>      
      </div>

    </div>
  </div>
    




    
    {# <div id="navbarBurger" class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </div> #}
    {# {% include "_components/primary-navigation.njk" %} #}

</nav>
