<nav class="primary-navigation">
  <ul class="primary-navigation__list">
    {% for item in primaryNavigation %}
      <li class="primary-navigation__item"><a class="primary-navigation__link" href="#">{{ item.title }}</a></li>
    {% endfor %}
  </ul>  
</nav>