{# profile-module.njk #}
<div class="c-profile-module">
  <div class="c-profile-module__image-container">
    <img class="c-profile-module__image" src="{{ profile.image }}" alt="">
  </div>
  <div class="c-profile-module__text-container">
    <span class="c-profile-module__name">{{ profile.name }}{% if profile.suffix %}, <br>{{ profile.suffix }}{% endif %}</span>
    {% if profile.bio %}
      <span class="c-profile-module__bio">{{ profile.bio }}</span>
    {% endif %}
  </div>
</div>
