<div class="c-social   column">
  <span class="c-social__text">Follow us</span>
  <div class="c-social__icons">        
    <span class="icon">
      <a href="https://facebook.com/koalacentre" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
    </span>
    <span class="icon">
      <a href="https://twitter.com/koalacentre" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
    </span>
    <span class="icon">
      <a href="https://instagram.com/koalacentre" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
    </span>
  </div>
</div>