<div class="c-subscribe   column">
  <span class="c-subscribe__text">Join our mailing list</span>
  <input type="email" class="input is-inline" placeholder="Email address">
  <button class="button is-outlined is-transparent">Go</button>
</div>