<div class="c-subscribe   column">
  <span class="c-subscribe__text">Get all the latest news</span>
  <div class="campaign-monitor js-only">

    <label for="fieldEmail" class="is-hidden">Email</label>
    <input id="fieldEmail" type="email" class="input is-inline" placeholder="Email address" name="cm-owdlit-owdlit" class="js-cm-email-input" required>    

    <button class="button is-outlined is-transparent js-cm-submit-button" type="submit">Go</button>
    
  </div>
  <noscript>
    <p><a href="https://confirmsubscription.com/h/r/074B5B3F7038C4972540EF23F30FEDED" target="_blank">Subscribe</a></p>
  </noscript>
</div>