/* ==========================================================================
   Typography
   ========================================================================== */
body,
p,
span {
  @include font-loader($safe-sans-serif, $custom-sans-serif);

  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-loader($safe-serif, $custom-serif);

  font-weight: 600;
}

.proxima {
  @include font-loader($safe-sans-serif, $font-proxima);

  font-weight: 700;
}

h1,
.is-h1 {
  font-size: $size-1;
}

h2,
.is-h2
 {
  font-size: $size-2;
  line-height: 1.3;
}

h3,
.is-h3
 {
  font-size: $size-3;
}

h4,
.is-h4
 {
  font-size: $size-4;
}

h5,
.is-h5
 {
  font-size: $size-5;
}

h6,
.is-h6
 {
  font-size: $size-6;
}
