/* ==========================================================================
   Typography
   ========================================================================== */
body,
p,
span {
  @include font-loader($safe-sans-serif, $custom-sans-serif);

  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-loader($safe-serif, $custom-serif);

  font-weight: 600;
}

.proxima {
  @include font-loader($safe-sans-serif, $font-proxima);

  font-weight: 700;
}
